@page "/fetchdata"
@using Referral2.Services
@using Referral2.Models
@inject HttpClient Http

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>



@code {
   // private WeatherForecast[] forecasts;
    public INationalClient _client;
    public NationalClient client;

    protected override async Task OnInitializedAsync()
    {
       // forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("sample-data/weather.json");
        //NationalClient.GetAccessToken();
               

        var Endpoint = new NationalWebApiRequest<string>
            {
                Endpoint = "/common/lists"
            };

        var token = client.GetAccessToken();
        var list = await _client.Get<string , InitiativeApiResponse>(Endpoint);
    }

    public class WeatherForecast
    {
        public DateTime Date { get; set; }

        public int TemperatureC { get; set; }

        public string Summary { get; set; }

        public int TemperatureF => 32 + (int)(TemperatureC / 0.5556);
    }

        
}
